.testimonials {
	margin: 0 auto;
	padding: 30px 0;
	width: 90vw;
	max-width: 1000px;

	blockquote {
		border: 10px solid $primary;
		display: none;
		font-size: 1em;
		padding: 20px 10px;
		position: relative;
		width: 100%;
	}

	cite {
		display: block;
		font-size: 0.8em;
		text-align: center;
	}

	input {
		&:checked {
			& + label {
				& + blockquote {
					display: block;
				}
			}
		}
	}

	label {
		font-size: 0;
		height: var(--radioWidth);
		order: 2;
		width: var(--radioWidth);

		&:first-of-type:last-of-type {
			display: none;
		}
	}

	@include grid {
		display: grid;
		grid-template-columns: repeat(var(--testimonials), 1fr);
		grid-template-rows: max-content auto;
		grid-row-gap: 20px;
		grid-column-gap: 20px;
		align-items: center;
		justify-items: center;

		blockquote {
			display: block;
			grid-column: 1 / -1;
			grid-row: 1;
			margin: 0;
			visibility: hidden;
		}

		input {
			&:checked {
				& + label {
					& + blockquote {
						visibility: visible;
					}
				}
			}
		}

		label {
			order: 2;

			&:first-of-type {
				justify-self: end;

				&:last-of-type {
					justify-self: center;
				}
			}

			&:last-of-type {
				justify-self: start;
			}
		}
	}

	& + .block {
		padding-top: 0;
	}
}

@media(min-width: 480px) {
	.testimonials {
		padding: 50px 0;
	
		blockquote {
			font-size: 1.3em;
			padding: 30px 20px;
		}	
	}
}

@media(min-width:768px) {
	.testimonials {
		blockquote {
			font-size: 1.4em;
			padding: 40px 30px;
		}
	}
}

@media(min-width: 1200px) {
	.testimonials {	
		blockquote {
			padding: 40px 30px;
		}
	}
}