// Colours
$primary: #ffd600;
	$primary_light_90: #ffda19;
	$primary_light_75: #ffe040;
	$primary_light_50: #ffeb80;
	$primary_light_25: #fff5bf;
	$primary_light_10: #fffbe6;

	$primary_dark_90: #e6c100;
	$primary_dark_75: #bfa100;
	$primary_dark_50: #806b00;
	$primary_dark_25: #403600;
	$primary_dark_10: #1a1500;

$neutral: #000000;
	$neutral_light_90: #191919;
	$neutral_light_75: #404040;
	$neutral_light_50: #808080;
	$neutral_light_25: #bfbfbf;
	$neutral_light_10: #e6e6e6;

$main: #000000;

//Fonts
@font-face {
	font-family: 'Berthold Akzidenz Grotesk';
	font-weight: 300;
	src: url('./src/fonts/Akzidenz-grotesk-light.ttf') format('truetype');
}

@font-face {
	font-family: 'Berthold Akzidenz Grotesk';
	font-weight: 700;
	font-style: italic;
	src: url('./src/fonts/Berthold-Akzidenz-Grotesk-Bold-Italic.otf') format('opentype');
}

@font-face {
	font-family: 'Berthold Akzidenz Grotesk';
	font-weight: 700;
	src: url('./src/fonts/Berthold-Akzidenz-Grotesk-Bold.otf') format('opentype');
}

$font_regular: 'Berthold Akzidenz Grotesk', Arial, sans-serif;
$font_headings: 'Berthold Akzidenz Grotesk', Arial, sans-serif;

// Extends
%cover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

%p-edges {
	p {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

// Mixins
@mixin grid() {
	@supports(grid-template-areas: '.') {
		@content;
	}
}