footer {
	background: #191919;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 20px 5vw;

	.logo {
		text-align: center;
		padding: 0 0 20px;
		width: 100%;
	}

	img {
		width: 200px;
	}

	nav {
		margin: 20px 0;

		a {
			background: none;
			color: inherit;
			display: block;
			padding: 5px;
			text-decoration: none;
			text-transform: uppercase;

			&:active, &:hover, &:focus {
				background: $primary;
				color: $neutral;
			}
		}
	}


	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.contact {
		color: $primary;
		padding: 0 20px;

		a {
			background: none;
			color: $primary;
			display: block;
		}
	}

}

@media(min-width: 30em) {
	footer {
		justify-content: space-between;
		align-items: flex-start;
		padding-top: 40px;

		nav {
			margin: 0;
		}
	}
}

@media(min-width: 55em) {
	footer {
		padding-top: 60px;

		.logo {
			width: auto;
		}
	}
}

@media(min-width: 2000) {
	footer {
		padding: 60px calc(50vw - 900px) 30px;

		img {
			width: auto;
			max-width: 300px;
		}
	}
}