header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 120px;

	&:before {
		content: '';
		background: rgba(#fff, 0.7);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 120px;
		z-index: -1;
	}

	.logo {
		background: none;
		border: 3px solid transparent;
		display: block;
		text-align: center;
		flex-shrink: 1;

		img, svg {
			width: 70vw;
			max-width: 200px;
		}

		&:active, &:hover, &:focus {
			background: none;
			border-color: $primary;
		}
	}

	nav {
		flex-shrink: 0;
		z-index: 20;

		ul {
			display: none;
			position: absolute;
			right: 10px;
		}

		&.active {
			ul {
				display: block;
			}

			.hamburger {
				background: $neutral;
				color: $primary;
			}
		}

		a {
			background: #fff;
			border-top: 3px solid $primary;
			color: $neutral;
			display: block;
			font-weight: bold;
			padding: 15px 20px;
			text-align: right;
			text-decoration: none;
			width: 50vw;
			max-width: 400px;
	
			&:active, &:hover, &:focus {
				background: $primary_light_10;
			}
		}
	
		li {
			&:last-child {
				a {
					border-bottom: 3px solid $primary;
				}
			}
	
			&.current_page_item:not(.menu-item-type-custom) {
				a {
					background: $neutral;
					color: $primary;
				}
			}
		}
	}
}

.hamburger {
	background: transparent;
	border: none;
	color: $neutral;
	margin: 0;
	padding: 20px;

	svg {
		height: 30px;
		width: 30px;

		path {
			fill: currentColor;
		}
	}

	span {
		position: absolute;
		right: -200vw;
	}

	.closed {
		display: none;
	}

	&.open {
		.open {
			display: none;
		}

		.closed {
			display: block;
		}
	}
}

@media(min-width: 40em) {
	.hamburger {
		display: none;
	}

	header {
		justify-content: center;
		flex-wrap: wrap;
		padding-top: 30px;

		nav {
			// width: 100%;

			&.active {
				ul {
					display: flex;
				}
			}

			ul {
				display: flex;
				justify-content: space-between;
				position: static;
			}

			a {
				background: transparent;
				border: none;
				padding: 10px 5px;
				font-weight: normal;
				width: auto;

				&:active, &:hover, &:focus {
					color: $neutral;
					background: $primary;
				}
			}

			li {
				padding: 0;

				&:last-child {
					a {
						border: 0;
					}
				}

				&.current_page_item:not(.menu-item-type-custom) {
					a {
						background: $neutral;
					}
				}
			}
		}
	}
}

@media(min-width: 45em) {
	header {
		nav {
			a {
				padding: 10px;
			}
		}
	}
}


@media(min-width: 60em) {
	header {
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;

		nav {			
			a {
				padding: 10px 5px;
			}
		}

		.logo {
			margin-right: 30px;
		}
	}
}

@media(min-width: 70em) {
	header {

		.logo {
			margin-right: 50px;
		}

		nav {
		flex-grow: 1;

			a {
				padding: 10px 15px;
			}
		}
	}
}

@media(min-width: 80em) {
	header {
		.logo {
			margin-right: 100px;

			img, svg {
				max-width: 300px;
			}
		}
	}
}

@media(min-width: 90em) {
	header {
		.logo {
			margin-right: 200px;
		}
	}
}