main {
	--button_background: #{$neutral};
	--button_border: var(--button_background);
	--button_text: #{$primary};

	.wp-block-buttons {
		display: flex;
		justify-content: center;

		.wp-block-button__link {
			background: var(--button_background);
			border-width: 2px;
			border-style: solid;
			border-color: var(--button_border);
			border-radius: 10px !important;
			color: var(--button_text);

			&:active, &:hover, &:focus {
				background: var(--button_text);
				color: var(--button_background);
			}
		}
	}

	.wp-block-image figcaption {
		margin: 0;
	}

	.blocks-gallery-grid  {
		.blocks-gallery-item {
			figure {
				display: block;
				position: relative;
			}

			figcaption {
				background: rgba(#fff, 0.8);
				bottom: 20px;
				color: $neutral;
				left: 0;
				right: 20%;
				padding: 10px 10px 10px 20%;
				text-align: left;
				width: 80%;
			}
		}
	}

	div.wpforms-container-full {
		.wpforms-form {
			button[type="submit"] {
				background: $primary;
				padding: 10px 20px;
			}

			input.wpforms-field-medium {
				max-width: unset;
			}
		}

		form {
			max-width: unset;
		}
	}
}

.wp-block-button__link {
	&.has-primary-background-color {
		--button_background: #{$primary};
		--button_border: #{$primary};
	}

	&.has-neutral-background-color {
		--button_background: #{$neutral};
		--button_border: #{$neutral};
	}

	&.has-white-background-color {
		--button_background: #fff;
		--button_border: var(--button_text);
	}

	&.has-neutral-color {
		--button_text: #{$neutral};
	}

	&.has-primary-color {
		--button_text: #{$primary};
	}

	&.has-white-color {
		--button_text: #fff;
	}
}

figure {
	&.wp-block-embed {
		margin: 0;
		
		iframe {
			max-width: 100%;
		}

		&.aligncenter {
			justify-content: center;
		}
	}

	&.wp-block-image {
		margin-left: 0;

		&.size-large {
			margin: 1em 0;
		}

		figcaption {
			// max-width: 200px;
		}
	}

	&.wp-block-gallery {
		.blocks-gallery-grid, .blocks-gallery-item, figure {
			align-items: center;
			align-content: center;
		}

		&.is-cropped {
			max-width: 1000px;
			margin: 0 auto;

			.blocks-gallery-item {
				flex-shrink: 0;
				min-width: 300px;
				
				img {
					height: 225px;
					width: 300px;
				}
			}
		}
	}
}

.wp-block-columns {
	&.blocks {
		img {
			margin-top: -20px;
			margin-left: -20px;
			width: calc(100% + 40px);
			max-width: 400px;
			border-radius: 10px 10px 0 0;
		}
	
		.wp-block-column {
			background: rgba($neutral_light_10, 0.7);
			border-radius: 10px;
			max-width: 400px;
			padding: 0 20px 20px;
			margin-top: 20px;
			flex-grow: 1;
			flex-basis: 300px !important;
			box-shadow: 1px 1px 2px $neutral_light_25;
		}
	}
}

@media (min-width:782px) {
	.wp-block-columns {
		&.how-it-works {
			.wp-block-column:first-child {
				border-right: 10px solid $primary;
				padding-right: 20px;
			}
		}
	}
}